* {
    margin: 0;
    padding: 0;
}

.body {
    .young-serif-regular {
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
    }
}

.home-recipe {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.home-recipe__image {
    height: 250px;
    width: 200px;
    padding-bottom: 20px;
}

.home-recipe__button {
    background-color: black;
    color: white;
    padding: 2px;
}
.home-recipe__button:hover {
    background-color: white;
    color: black;
}

.home-recipe__tab{
    display: inline-block;
    padding: 10px;
}
.home-recipe__tab:hover{
    color: yellowgreen;
}

.home-recipe__one,.home-recipe__two,.home-recipe__three,.home-recipe__four {
    display: inline-block;
    height: 400px;
    width: 200px;
    border: solid black 2px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}
.home-recipe__detail{
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-inline-end:auto;
    padding: 20px;
    margin-top: 20px;
}
.home-recipe__button1{
    background-color: yellowgreen;
    color: black;
    border: solid aqua 2px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: medium;
}
.home-recipe__button1:hover{
    border: solid yellow 2px;
}


