{
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .title {
        background-color: palevioletred;
        height: 45px;
        font-size: 40px;
        font-weight: bold;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
    .overall{
display: flex;
flex-direction: row;
justify-content: space-around;
    }
    .sub{
        background-color: black;
        color: white;
        width: 250px;
        height: 350px;
        padding: 15px;
        margin-top: 20px;
        border-radius: 10px;
    }
    .sub__plan1{
        text-align: center;
        font-size: 25px;
        padding-bottom: 10px;
    }
    .sub__plan1__desc{
        border: solid 1px white;
        border-radius: 10px;
        padding-left: 10px;
    }