{
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .container {
        background-color: blanchedalmond;
        margin: 40px;
        padding: 20px;
    }

    .navbar {
        text-align: center;
    }
.navbar__title{
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
}
    .navbar__underline {
        width: 300px;
        height: 3px;
        background-color: indigo;
        display: flex;
        margin: 0 auto;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        justify-content: center;
    }

    .gallery__item img {
        margin: 10px;
        width: 300px;
        height: 200px;
        border-radius: 5px;
        border: solid 3px black;
    }